:root{
    --primary-font-color: #FEC00F;
    --second-font-color: #AFA8A8;
    --content-color: #D2D2D2;
    --main-font: 'Bebas Neue', sans-serif;
    --second-font: 'Urbanist', sans-serif;
    --button-font: 'Cabin', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(assets/cash-macanaya-u5vq1ZT1OAI-unsplash.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

header{
    display: flex;
    padding: 45px 15.7px 0 54px;
    gap: 300px;
}

header button{
    height: 50px;
    width: 115px;
    border: 1px var(--content-color) solid;
    border-radius: 30px;
    background-color: transparent;
    gap: 6px;
}

.main-tittle{
    height: 82px;
    width: 355px;
    margin: 119px 157px 0 196px;
    text-align: center;
}

.main-tittle h1{
    font-family: var(--main-font);
    font-size: 68px;
    font-weight: 400;
}

.main-tittle p{
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: 400;
}

#google{
    margin: 80px 126px 40px 164px;
    height: 52px;
    width: 418px;
    border-radius: 10px;
    border: var(--content-color) 1px solid;
    background-color: transparent;
    gap: 12px;
}

#google img{
    height: 20px;
}

.divider{
    height: 11px;
    width: 170px;
    margin: 40px 250px 40px 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

span{
    color: var(--second-font-color);
    font-family: var(--second-font);
}

form{
    height: 304px;
    width: 420px;
    margin: 40px 125px 0 163px;
}

input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    border: var(--content-color) 1px solid;
    background-color: transparent;
}

.display-form input{
    height: 52px;
    width: 420px;
    padding: 0 0 0 19px;
}

.display-remember{
    display: flex;
    gap: 6px;
    font-family: var(--second-font);
    align-items: baseline;
}

form button{
    height: 50px;
    width: 420px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--button-font);
}

.login{
    font-family: var(--second-font);
    margin: 40px 220px 150px 259px;
}

a{
    text-decoration: none;
    color: var(--primary-font-color);
}